@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

textarea {
  font: inherit;
  border: initial;
  resize: none;
  outline: initial;
}

button {
  font: inherit;
  border: initial;
  outline: initial;
  background-color: initial;
}
input,
textarea,
button,
select {
  outline: none;
}

/* SCROLLBAR */
@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(22, 26, 29);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(212, 223, 225);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(44, 52, 58);
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: rgb(61, 79, 92);
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: rgb(224, 224, 224);
  }
  .dark ::-webkit-scrollbar-track {
    background-color: rgb(22, 26, 29);
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(199, 199, 199);
  }
  .dark ::-webkit-scrollbar-thumb:active {
    background-color: rgb(173, 173, 173);
  }
}
/* GLOBAL STYLES */
.centred {
  @apply flex items-center justify-center;
}

.backgroundImage {
  background-image: url("../assets/textures/cartographer.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

/* OVERRIDES  */

.bye-stroke > div > svg > g > g > g > path {
  stroke: none !important;
}
.bye-stroke > div > svg > g > g > text > tspan {
  fill: rgba(22, 26, 29);
}
.dark .bye-stroke > div > svg > g > g > text > tspan {
  fill: rgba(224, 224, 224);
}

/* MUI-TABLE OVERRIDE */

div[role="combobox"] {
  padding-right: 16.5px !important;
}
svg[data-testid="ArrowDropDownIcon"] {
  color: rgba(22, 26, 29) !important;
}
.dark svg[data-testid="ArrowDropDownIcon"] {
  color: rgba(224, 224, 224) !important;
}

svg[data-testid="KeyboardArrowLeftIcon"] {
  color: rgba(22, 26, 29) !important;
}
.dark svg[data-testid="KeyboardArrowLeftIcon"] {
  color: rgba(224, 224, 224) !important;
}
svg[data-testid="KeyboardArrowRightIcon"] {
  color: rgba(22, 26, 29) !important;
}
.dark svg[data-testid="KeyboardArrowRightIcon"] {
  color: rgba(224, 224, 224) !important;
}

.culoareText > div > div[role="combobox"] {
  color: rgba(22, 26, 29) !important;
}
.dark .culoareText > div > div[role="combobox"] {
  color: rgba(224, 224, 224) !important;
}

.webkitBye > div > div > div[role="combobox"] {
  -webkit-text-fill-color: unset !important;
}

.webkitBye > div > div::after {
  border-bottom: none !important;
}
.MuiPaper-root {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.dark .MuiPaper-root {
  background-color: rgba(9, 10, 12, 0.9) !important;
}
.MuiTablePagination-menuItem {
  color: rgba(22, 26, 29) !important;
}
.dark .MuiTablePagination-menuItem {
  color: rgba(224, 224, 224) !important;
}
.MuiTablePagination-menuItem.Mui-selected {
  background-color: rgba(212, 223, 225) !important;
}
.dark .MuiTablePagination-menuItem.Mui-selected {
  background-color: rgba(22, 26, 29) !important;
}

.MuiList-root {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-bottom: 1px solid rgba(22, 26, 29) !important;
}

.dark .MuiList-root {
  background-color: rgba(9, 10, 12, 0.9) !important;
  border-bottom: 1px solid rgba(212, 223, 225) !important;
}

/* OVERRIDES */

.dark\:border-slate-600:where(.dark, .dark *) {
  background-color: rgba(22, 26, 29) !important;
}
